{
  "semi": false,
  "singleQuote": true,
  "printWidth": 112,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
